<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'plan.css', :plugin => 'plan' %>
<% end %>

<h2>Plan d'action en détail</h2>

<div>
  <%= link_to_issue(@issue) %>
   - <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
</div>
<table class="plan">
  <% issue_list(@issuePlan) do |child, level| %>
    <tr>
    <%= form_for child do %>
      <td><%= link_to_issue(child, :project => (@issue.project_id != child.project_id),
                            :subject => false, :tracker => false) if child.id %></td>
      <td><%= text_field_tag('issue[subject]', child.subject)  %></td>

      <td>
          <%= select_tag('issue[status_id]',
                      options_from_collection_for_select(child.new_statuses_allowed_to(User.current), :id, :name, child.status_id),
                      :onchange => "") %>

          <%= select_tag('issue[assigned_to_id]',
                      content_tag('option', l(:label_nobody), :value => 'none') +
                      principals_options_for_select(child.assignable_users, child.assigned_to)) %>

          <%= select_tag('issue[priority_id]',
                   options_from_collection_for_select(IssuePriority.active, :id, :name, child.priority_id)) %>

           <%= date_field_tag 'issue[due_date]', '', :value => child.due_date, :size => 10 %><%= calendar_for('issue_due_date') %>
      </td>

      <td>
        <% notes = child.journals.where.not(notes: '').to_a %>
        <% lastNote = notes.pop %>
        <% if notes.any? %>
          <a class="previous_notes">Notes plus anciennes</a>
          <div id="dialog_<%= child.id %>" style="display:none" title="Dialog Title">
            <% for n in notes do %>
              <fieldset>
                <legend><%= format_time(n.created_on) %></legend>
                <%= textilizable(n.notes) %>
              </fieldset>
            <% end %>
          </div>
        <% end %>
        <% if lastNote %>
          <fieldset>
            <legend><%= format_time(lastNote.created_on) if lastNote %></legend>
            <%= textilizable(lastNote.notes) if lastNote %>
          </fieldset>
        <% end %>
        <fieldset>
          <legend>Nouveau commentaire</legend>
          <%= text_area_tag 'issue[notes]' %>
        </fieldset>
      </td>
      <td>
        <%= submit_tag l(:button_save) %>
        <%= link_to l(:button_delete), issue_path(child, :back_url => @backUrl),
            :data => {:confirm => issues_destroy_confirmation_message(child)},
            :method => :delete, :class => 'icon icon-del' if child.id and child.deletable? %>
        <%= hidden_field_tag('back_url', @backUrl) %>
        <%= hidden_field_tag('issue[project_id]', child.project_id) %>
        <%= hidden_field_tag('issue[parent_issue_id]', child.parent_id) %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>


<%= button_to :add_task, subtask_path, method: :get %>

<script>
$(document).ready(function () {
  $(".previous_notes").each(function(index) {
    $(this).click(function(){
      var t = $(this).next().css('display');
      if (t == "none") {
        $(this).next().css('display', 'initial');
      } else {
        $(this).next().css('display', 'none');
      }
    })
  });
})
</script>
